<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".InstrumentClusterApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonjaroInstrumentCluster">
        <activity
            android:name="com.monjaro.dic.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.CAR_DOCK" />
            </intent-filter>
        </activity>

        <service
            android:name="com.monjaro.dic.service.ClusterRendererEntryPoint"
            android:exported="true"
            android:permission="android.permission.BIND_CAR_INSTRUMENT_CLUSTER_RENDERER_SERVICE">
            <intent-filter>
                <action android:name="android.car.cluster.renderer" />
            </intent-filter>
        </service>
    </application>

</manifest>
